.footer {
    display: flex;
    flex-direction: row;
    background: $color-sweet;
    margin-top: 13.1rem;
    padding: 10.6rem 17.5rem 7.7rem 14.7rem;
    &__item {
        display: flex;
        align-items: start;
        gap: 10.8rem;
    }
}
.about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 61.45%);
}
.contacts {
    width: calc(100% - 74.51%);
    display: flex;
    align-items: flex-start;
    & p {
        margin-bottom: 3.3rem;
    }
    & h3{
        margin-bottom: 0.9rem;
    }
}
.contacts__address {
    color: $color-dark;
    margin-bottom: 3.3rem;
    width: 100%;
}
.contacts__number {
    color: $color-dark;
    width: 100%;
    display: flex;
    gap: 1.6rem;
}
.contacts__mail {
    color: $color-dark;
    width: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: center;
}
.opening {
    margin-bottom: 1.5rem;
		&__li {
            margin-bottom: 1.5rem;
		}
}