/*service*/
.service {
    text-align: center;
    padding: 11.1rem 0rem;
}
.form {
    display: flex;
    justify-content: center;
}
.col-8 {
    display: flex;
    flex-direction: column;
    flex: 0 1 66.66%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title {
    margin-bottom: 5.6rem;
}
.description {
    margin-bottom: 11.1rem;
}
.section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4.7rem 2.6rem;
    background: $color-sweet;
    border-radius: 1.5rem;
    flex: 0 1 calc(33.33% - 3rem);
    &:hover {
        background: $color-primary;        
    }
    &:hover h2 {
        color: $color-white;       
    }
    &:hover p {
        color: $color-white;       
    }
    &:hover a {
        color: $color-white;  
    }
    &:hover path{
        fill: $color-white;       
    }
}
.icon {
    margin-bottom: 4.3rem;
}
.subtitle {
    margin-bottom: 1.7rem;
}
.spec {
    margin-bottom: 1.7rem;
}
.link {
    @include text ($font-base, 600, 1.6rem, 1.9rem, $color-primary);
    display: flex;
    align-items: center;
    text-decoration: underline;
}
/*peronal*/
.personal {
    margin-bottom: 10rem;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4.7rem 2.6rem;
        background: $color-sweet;
        border-radius: 1.5rem;
        padding: 5.9rem 3.8rem 3.3rem 3.9rem;
        margin-bottom: 3rem;
        flex: 0 1 calc(33.33% - 3rem);
    }
}
.form {
    display: flex;
    justify-content: center;
    
}
.wall {
    display: flex;
    flex-wrap: wrap;
}
.title-item {
    display: grid;
    grid-template-areas:
    "img id"
    "img wrk";
    width: 100%;
    align-items: center;
    margin-bottom: 2.5rem;
    &__profile {
        grid-area: img;
        & img:hover {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 22px 70px 4px;
            border-radius: 4.5rem;
            transform: translateY(-5%);
            transition: 0.3s all ease-in-out;
        }
    }
    &__id {
        grid-area: id;
        align-content: flex-end;
        &:hover {
            text-decoration: underline;
        }
    }
    &__workplace {
        grid-area: wrk;
        align-content: flex-start;
    }
}
.desc {
    margin-bottom: 2.8rem;
}

.btn {
    &__link:hover {
        box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 6px 6px, rgba(240, 46, 170, 0.1) 8px 8px, rgba(240, 46, 170, 0.05) 10px 10px;
        border-radius: 5rem;;
    }
    &__key {
        padding: 1.1rem 4.9rem;
        background: $color-primary;
        border: 0;
        border-radius: 5rem;
        @include text ($font-base, 600, 2rem, 2.3rem, $color-white);
        &:hover {
            color: $color-shadow;
        }
    }
}