.header {
    padding: 5rem 0rem;
    &__item {
        display: flex;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
}

.col-4 {
    display: flex;
    flex-direction: column;
}