.header {
    padding: 5rem 0rem;
    &__item {
        display: flex;
        align-items: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-4 {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(33.33% - 3rem);
    margin-bottom: 3rem;
}