@media (max-width:$breakpoint_xxl) {
    .container {
        padding: 0rem 8rem;
    }
    /*burger menu*/
    .nav {
        background: $color-menu;
        width: 190vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 20rem 10rem;
        transform: translateX(0%);
        top: 0;
        right: 0;
        z-index: 2;
        position: fixed;
        &__ul {
            flex-direction: column;
            align-items: flex-end;
        }
        &__a {
            font-size: 4rem;
            &.nav__a_active {
                font-size: 4rem;
            }
        }
        &__li {
            margin-bottom: 3rem;
        }
    }
    .menu {
        position: fixed;
        top: 4.7rem;
        right: 4.7rem;
        width: 4rem;
        height: 4rem;
        z-index: 3;
        background: $color-sweet;
        color: $color-black;
        transition: 0.3 all ease-in-out;
    }
    .header__menu {
        display: block;
    }
    /***************************************/

    .search {
        display: none;
    }
    .section {
        justify-content: space-around;
        gap: 2rem;
    }
    .personal {
        &__item {
            flex: 0 1 calc(100% - 3rem);
        }
    }
    .col-8 {
        flex: 1 1 100%;
    }
    .footer {
        padding: 8.6rem 8rem 6.7rem 8rem;
        &__item {
            gap: 4rem;
        }
    }
    .contacts {
        align-items: center;
    } 
}

@media (max-width:$breakpoint_xl) {
    .service {
        padding: 6rem 0rem;
    }
    .description {
        margin-bottom: 6rem;
    }
    .personal {
        margin-bottom: 5rem;
    }
    .footer {
        margin-top: 7rem;
        &__item {
            justify-content: space-around;
        }
    }
    .col-4 {
        flex: 0 1 calc(80% - 3rem);
    }
    .detail__h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .opening {
        &__ul {
            display: flex;
            flex-direction: row;
            gap: 3.5rem;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .col-5 {
        width: 100%;
    }
}

@media (max-width:$breakpoint_md) {
    html {
        font-size: 8px;
    }
}

@media (max-width:$breakpoint_sm) {
    html {
        font-size: 6px;
    }
    .col-4 {
        flex: 0 1 calc(100% - 3rem);
    }
    .title-item { 
        justify-content: center;
        &__profile {
            margin-right: 5rem;
        }
    }
    .about {
        width: calc(100%);
        text-align: center;
    }
    .submit {
        &__area {
            padding: 1rem 2rem 1rem 2.1rem;
            width: 100%;
        }
        &__btn {
            top: 170%;
            right: calc(50% - 6rem);
        }
    }
    h5 {
        font-size: 2.6rem;
    }
}