/*breakpoint xl*/

.list-header {
    font-weight: 700;
}
.content-hidden {
    display: none;
}

.hidden {
    display: none;
}
.animation {
    transform: scaleY(1);
    transition: 0.2s all ease-in-out;
}