$font-base: 'Work Sans', sans-serif;

/*color*/
$color-dark: #262626;
$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: #8842F0;
$color-sweet: #F9F1FE;
$color-grey: #575757;
$color-shadow: #7ad5ff;
$color-bg: #1C1B1F;
$color-bg_area: #6C6C6C;

/*breakpoint*/
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;